---
layout: default
---

{% assign image_path = page.header_image %}
{% assign transition-name = page.layout_type %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  {% include store/header.html type=page.layout_type title=page.store_title description=page.store_description %}
  {% assign stores = site[page.collection_name] | sort: "title" %}

  <div class="header-jump">
    <input type="search" id="storeSearch" list="storeSearchList" placeholder="SEARCH">
  </div>

  <datalist id="storeSearchList">
    {% for store in stores %}
      <option value="{{ store.title }}"></option>
    {% endfor %}
  </datalist>

  <div class="list-container">
    {% for store in stores %}
      {% include store/card.html store=store type=page.layout_type %}
    {% endfor %}
  </div>
</div>

<script src="{{ '/assets/js/store/search.js' | relative_url }}"></script>
