---
layout: default
---
{% assign image_path = page.image | relative_url %}
<figure class="hero" style="background-image: url('{{ image_path }}'); --transition-name: {{ page.image | downcase | replace: '/', '-' | replace: '.', '-' }};"></figure>

<div class="content-wrapper">
  <h2>{{ page.title }}</h2>
  {{ content }}
  {% include map.html suite=page.suite %}
  <hr>
  <h6>LOCATION</h6>
  <h7>{{ page.full_location }}</h7>
  <hr>
  <h6>STORE HOURS</h6>
  <table id="storeHours">
    {% assign days = "monday,tuesday,wednesday,thursday,friday,saturday,sunday" | split: "," %}
    {% for day in days %}
      <tr data-day="{{ day }}">
        <td>{{ day | capitalize }}</td>
        <td>{{ page.store_hours[day] }}</td>
      </tr>
    {% endfor %}
  </table>
  <h6>PHONE</h6>
  <h7>{{ page.phone }}</h7>
  <hr>
  <h6>WEBSITE</h6>
  <h7><a href="{{ page.website }}" target="_blank">{{ page.website | remove: 'https://' | split: '/' | first }}</a></h7>
  <hr>
  {% if page.facebook or page.instagram %}
    <nav style="margin: 1rem 0;">
      <a class="social" href="{{ page.facebook }}" target="_blank">
        {% include icons/socials/facebook.svg %}
      </a>
      <a class="social" href="{{ page.instagram }}" target="_blank">
        {% include icons/socials/instagram.svg %}
      </a>
    </nav>
  {% endif %}
</div>
<script src="{{ '/assets/js/store/hours.js' | relative_url }}"></script>
