---
layout: default
---

{% assign image_path = site.data.events.hero_banner %}
{% assign transition-name = page.layout_type %}
{% include hero-banner.html image_path=image_path transition-name="events" %}

<div class="content-wrapper">
  <hgroup style="view-transition-name: title-{{transition-name}};">
    <h5 class="icon-events">
      {% include icons/windows/events.svg %}
      {{ site.data.events.events }}
    </h5>
    <h2>{{ site.data.events.title }}</h2>
    <h6>{{ site.data.events.description }}</h6>
  </hgroup>

  {% assign jump_nav_links = "calendar" | split: "," %}
  {% assign jump_nav_slugs = "events" %}
  {% include page-jump-nav.html links=jump_nav_links slugs=jump_nav_slugs %}

  <article>
    <div class="list-container">
      {% assign annual_events = site.events | where: "schedule_type", "yearly" | sort: "starts_at" %}
      {% for event in annual_events %}
        {% include events/card.html event=event %}
      {% endfor %}
    </div>
  </article>
  <hr>

  <h3>{{ site.data.events.monthly_calendar }}</h3>
  {% include calendar.html %}
</div>
