<article id="gallery">
  <h5>{{ site.data.weddings.gallery.title }}</h5>
  <div class="list-container">
    {% for item in site.data.weddings.gallery.items %}
    <div class="card">
      <h3>{{ item.title }}</h3>
      <video src="{{ item.video_url }}#t=0.1" controls preload="metadata" playsinline></video>
    </div>
    {% endfor %}
  </div>
  <div class="gallery-more-extra list-container">
    {% for item in site.data.weddings.gallery.extra_items %}
    <div class="card">
      <h3>{{ item.title }}</h3>
      <video src="{{ item.video_url }}#t=0.1" controls preload="metadata" playsinline></video>
    </div>
    {% endfor %}
  </div>
  <details class="gallery-more">
    <summary class="btn btn-primary">{{ site.data.weddings.buttons.explore_more }}</summary>
  </details>
</article>
