<article class="site-plan">
  <h5>{{ site.data.weddings.site_plan.title }}</h5>
  <picture>
    <source
      media="(max-width: 480px)"
      srcset="{{ site.data.weddings.site_plan.image | prepend: '/cdn-cgi/image/width=350,height=235,fit=cover,quality=90/' | prepend: site.cdn_url }}"
    >
    <source
      media="(max-width: 768px)"
      srcset="{{ site.data.weddings.site_plan.image | prepend: '/cdn-cgi/image/width=600,height=500,fit=cover,quality=90/' | prepend: site.cdn_url }}"
    >
    <source
      media="(min-width: 768px)"
      srcset="{{ site.data.weddings.site_plan.image | prepend: '/cdn-cgi/image/width=1200,height=1000,fit=cover,quality=90/' | prepend: site.cdn_url }}"
    >
    <img
      src="{{ site.data.weddings.site_plan.image | prepend: '/cdn-cgi/image/width=1200,height=1000,fit=cover,quality=90/' | prepend: site.cdn_url }}"
      alt="{{ site.data.weddings.site_plan.title }}"
    >
  </picture>
  <a href="{{ site.data.weddings.site_plan.plan_url }}" target="_blank" class="btn btn-primary">{{ site.data.weddings.buttons.download_site_plan }}</a>
</article>
