<article id="venues">
  <h5>{{ site.data.weddings.venues }}</h5>
  <div class="list-container">
    {% assign weddings = site.weddings | sort: "date" %}
    {% for wedding in weddings %}
      <div class="card">
        <h3>{{ wedding.title }}</h3>
        {% if wedding.subtitle %}<h6>{{ wedding.subtitle }}</h6>{% endif %}
        <div>
          {% if wedding.image %}
            <picture>
              <source
                media="(max-width: 480px)"
                srcset="{{ '/assets/images/' | append: wedding.image | prepend: '/cdn-cgi/image/width=350,height=235,fit=cover,format=webp/' | prepend: site.cdn_url }}"
              >
              <source
                media="(min-width: 768px)"
                srcset="{{ '/assets/images/' | append: wedding.image | prepend: '/cdn-cgi/image/width=600,height=428,fit=cover,format=webp/' | prepend: site.cdn_url }}"
              >
              <img
                src="{{ '/assets/images/' | append: wedding.image | prepend: '/cdn-cgi/image/width=600,height=428,fit=cover,format=webp/' | prepend: site.cdn_url }}"
                alt="{{ site.data.weddings.venues }}"
                style="--transition-name: {{ wedding.image | downcase | replace: '/', '-' | replace: '.', '-' }};"
              >
            </picture>
          {% else %}
            <img src="{{ '/assets/images/placeholder.webp' | relative_url }}" alt="{{ wedding.title }}">
          {% endif %}
          <a href="{{ wedding.url }}" class="btn btn-primary">{{ site.data.weddings.buttons.learn_more }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
</article>
