<article id="venues">
  <h5>{{ site.data.weddings.venues }}</h5>
  <div class="list-container">
    {% assign weddings = site.weddings | sort: "date" %}
    {% for wedding in weddings %}
      <div class="card">
        <h3 class="transition-title" style="--transition-name: {{ wedding.title | downcase | replace: ' ', '-'}};">{{ wedding.title }}</h3>
        {% if wedding.subtitle %}<h6>{{ wedding.subtitle }}</h6>{% endif %}
        <div>
          {% if wedding.image %}
            {% assign wedding_transition_name = wedding.image | downcase | replace: '/', '-' | replace: '.', '-' %}
            {% include responsive-card-image.html src=wedding.image alt=site.data.weddings.venues transition_name=wedding_transition_name %}
          {% else %}
            <img src="{{ '/assets/images/placeholder.webp' | relative_url }}" alt="{{ wedding.title }}">
          {% endif %}
          <a href="{{ wedding.url }}" class="btn btn-primary">{{ site.data.weddings.buttons.learn_more }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
</article>
