<div class="card" id="storeItem" data-tags="{{ include.store.tags | join: ',' | downcase }}" data-suite="{{ include.store.suite | downcase }}">
  {% if include.store.image %}
    {% assign card_transition_name = include.store.image | downcase | replace: '/', '-' | replace: '.', '-' %}
    {% include responsive-card-image.html src=include.store.image alt=include.store.title transition_name=card_transition_name %}
  {% else %}
    <img src="{{ '/assets/images/placeholder.webp' | relative_url }}" alt="{{ include.store.title }}" width="600" loading="lazy">
  {% endif %}
  <div class="store-title">
    <h5 style="view-transition-name: {{ include.store.title | downcase | replace: ' ', '-'}};">{{ include.store.title }}</h5>
    <h5>{{ include.store.suite }}</h5>
  </div>
  {% if include.store.subtitle %}
    <h6>{{ include.store.subtitle }}</h6>
  {% endif %}
  <p>
    {% if include.store.suite %}
      <span>SUITE {{ include.store.suite | upcase }}</span>
    {% endif %}
    {% if include.store.suite and include.store.phone %}
      <span class="separator">|</span>
    {% endif %}
    {% if include.store.phone %}
      <a href="tel:{{ include.store.phone | remove: ' ' | remove: '(' | remove: ')' | remove: '-' }}">{{ include.store.phone }}</a>
    {% endif %}
  </p>
  <a href="{{ include.store.url }}" class="btn btn-primary">DETAILS</a>
</div>
