<article class="connect-us" id="connect">
  <h5>{{ site.data.connect-us.title }}</h5>
  <h6>{{ site.data.connect-us.description }}</h6>
  <form id="connectUsForm">
    <input type="hidden" id="contact-email" name="contactEmail" value="{{ site.email }}">
    <label for="first-name">
      {{ site.data.connect-us.form_placeholders.first_name }} *
      <input type="name" name="first-name" id="first-name" required>
    </label>
    <label for="last-name">
      {{ site.data.connect-us.form_placeholders.last_name }} *
      <input type="name" name="last-name" id="last-name" required>
    </label>
    <label for="phone">
      {{ site.data.connect-us.form_placeholders.phone }} *
      <input type="tel" name="phone" id="phone" pattern="[0-9\-]+" title="Please enter a valid phone number" inputmode="numeric" required>
    </label>
    <label for="email">
      {{ site.data.connect-us.form_placeholders.email }} *
      <input type="email" name="email" id="email" required>
    </label>
    <label for="event-date">
      {{ site.data.connect-us.form_placeholders.event_date }} *
      <input type="text" name="event_date" id="event-date" pattern="(0[1-9]|1[0-2])-[0-3][0-9]-[0-9]{4}" title="Please enter date as mm-dd-yyyy" required>
    </label>
    <label for="guests">
      {{ site.data.connect-us.form_placeholders.guests }} *
      <input type="number" name="guests" id="guests" min="1" title="Please enter a valid number of guests" required>
    </label>
    <label for="budget">
      {{ site.data.connect-us.form_placeholders.budget }} *
      <input type="number" name="budget" id="budget" min="0" title="Please enter a valid budget number" required>
    </label>
    <button class="btn btn-primary" type="submit" id="send" >
      {{ site.data.connect-us.submit_button }}
    </button>
  </form>
</article>

<script src="{{ '/assets/js/connect-us-form.js' | relative_url }}"></script>
