<footer>
  <h3>Join the Tlaquepaque community and stay inspired.</h3>
  <br>
  <button type="button">{{ site.data.site.footer.join }}</button>
  <hr>
  <address>
    <a href="tel:{{ site.data.site.footer.phone }}">{{ site.data.site.footer.formatted_phone }}</a>
     |
    <a href="mailto:{{ site.data.site.footer.email }}">{{ site.data.site.footer.email }}</a>
    <p>Street Address: {{ site.data.site.footer.street_address }}</p>
    <p>Mail Address: {{ site.data.site.footer.mail_address }}</p>
  </address>
  <div>
    <nav>
      <a href="/about">About</a>
      <a href="/village_map">Village Map</a>
      <a href="/contacts">Contact Us</a>
      <a href="/events/">Events</a>
      <a href="{{ '/gift-cards' | relative_url }}">Gift Cards</a>
      <a href="/leasing">Leasing</a>
      <a href="/weddings">Wedding and Private Events</a>
      <a href="/filming-photography">Filming & Photography</a>
    </nav>
    <nav>
      {% assign latest = site.data.magazines.issues | first %}
      <dialog id="magazineFooterPreview" onclick="this.close()">
        <iframe src="https://player.flipsnack.com?hash=Qzg3QkNEOTlFOEMrdjdoaTF1Y3J6cA" width="100%" height="100%" scrolling="no" frameBorder="0" allowFullScreen allow="autoplay; clipboard-read; clipboard-write"></iframe>
      </dialog>
      <button command="show-modal" commandfor="magazineFooterPreview" class="magazine-cover" aria-label="View latest magazine issue">
        <img src="{{ latest.image }}" alt="{{ site.data.site.footer.magazine_alt }}" loading="lazy">
      </button>
      <p>Follow Us</p>
      <a class="social" href="https://www.facebook.com/tlaqsedona/" target="_blank" title="Facebook">
        {% include icons/socials/facebook.svg %}
      </a>
      <a class="social" href="https://www.instagram.com/tlaqsedona/" target="_blank" title="Instagram">
        {% include icons/socials/instagram.svg %}
      </a>
    </nav>
  </div>
  <p>&copy; {{ 'now' | date: '%Y' }} Tlaquepaque Arts &amp; Shopping Village. All Rights Reserved.</p>
  <p>
    <a href="/privacy-policy/">Privacy Policy</a>
     |
    <a href="/terms-and-conditions/">Terms and Conditions</a>
  </p>
</footer>
