<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.site.app_name }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{ site.data.site.app_name }}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#111c4e">
  <meta name="color-scheme" content="dark">

  {% include style.html %}

  {% seo %}

  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any">
  <link rel="icon" href="{{ '/32x32.png' | relative_url }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ '/16x16.png' | relative_url }}" sizes="16x16" type="image/png">
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/application.css' | relative_url }}?v={{ site.time | date: '%s' }}" media="print" onload="this.media='all'">

  <noscript>
    <link rel="stylesheet" href="{{ '/assets/css/application.css' | relative_url }}">
  </noscript>
</head>
