{% assign desktop_image_path = "/assets/images/" | append: image_path | prepend: '/cdn-cgi/image/width=1600,height=800,fit=cover,quality=85,gravity=center/' | prepend: site.cdn_url %}
{% assign mobile_image_path = "/assets/images/" | append: image_path | prepend: '/cdn-cgi/image/width=1600,height=800,fit=cover,quality=85,gravity=center/' | prepend: site.cdn_url %}
{% assign low_mob_image_path = "/assets/images/" | append: image_path | prepend: '/cdn-cgi/image/width=640,height=320,fit=cover,quality=4,gravity=center/' | prepend: site.cdn_url %}
{% assign low_desk_image_path = "/assets/images/" | append: image_path | prepend: '/cdn-cgi/image/width=1600,height=800,fit=cover,quality=4,gravity=center/' | prepend: site.cdn_url %}

<figure class="hero"
  style="
    --desktop-image: url('{{ desktop_image_path }}');
    --mobile-image: url('{{ mobile_image_path }}');
    --low-mob-image: url('{{ low_mob_image_path }}');
    --low-desk-image: url('{{ low_desk_image_path }}');
    --transition-name: {{transition-name }};
"></figure>
