<nav class="header-jump">
  <hr>
  <div>
    <span class="jump-to">Jump to:</span>
    {% for link in include.links %}
    {% assign jump_target = site.data[include.slugs].jump_to_links[link].id %}
      {% if include.base_url %}
        <a href="{{ include.base_url }}{{ jump_target }}">{{ site.data[include.slugs].jump_to_links[link].text }}</a>
      {% else %}
        <a href="{{ jump_target }}">{{ site.data[include.slugs].jump_to_links[link].text }}</a>
      {% endif %}
    {% endfor %}
  </div>
  <hr>
</nav>
