<picture>
  <source
    media="(max-width: 480px)"
    srcset="{{ '/assets/images/' | append: include.src | prepend: '/cdn-cgi/image/width=350,height=235,fit=cover,format=webp/' | prepend: site.cdn_url }}"
  >
  <source
    media="(min-width: 768px)"
    srcset="{{ '/assets/images/' | append: include.src | prepend: '/cdn-cgi/image/width=600,height=400,fit=cover,format=webp/' | prepend: site.cdn_url }}"
  >
  <img
    src="{{ '/assets/images/' | append: include.src | prepend: '/cdn-cgi/image/width=600,height=400,fit=cover,format=webp/' | prepend: site.cdn_url }}"
    alt="{{ alt }}"
    loading="lazy"
    style="--transition-name: {{ include.transition_name }};"
  >
</picture>
