{% if include.src %}
  {% assign mob = include.src | prepend: '/cdn-cgi/image/width=400,height=300,fit=cover,gravity=center,format=webp/' | prepend: site.cdn_url %}
  {% assign desk = include.src | prepend: '/cdn-cgi/image/width=600,height=450,fit=cover,gravity=center,format=webp/' | prepend: site.cdn_url %}
{% else %}
  {% assign mob = fallback %}
  {% assign desk = fallback %}
{% endif %}

<picture{% if include.transition_name %} style="view-transition-name: {{ include.transition_name }};"{% endif %}{% if include.data_event_image %} data-event-image{% endif %}>
  <source
    media="(max-width: 480px)"
    srcset="{{ mob }}"
  >
  <source
    media="(min-width: 768px)"
    srcset="{{ desk }}"
  >
  <img
    src="{{ desk }}"
    alt="{{ alt }}"
    loading="lazy"
    decoding="async"
    onerror="imageError(this)"
  >
</picture>
