{% assign video_url = page.video_url %}

{% include hero-banner.html image_path=image_path transition-name=page_image_transition_name data_event_image=true %}

<div class="content-wrapper grid-col-2">
  <div>
    <h5 style="view-transition-name: {{ page_title_transition_name }};" data-event-title>{{ page.title }}</h5>
    {% include events/meta.html event=page %}

    {{ content }}

    {% include events/contact.html event=page %}
  </div>
  <div>
    <div class="hero-desc" style="view-transition-name: {{ page_image_transition_name }};">
      <img src="{{ image_path | relative_url }}" alt="{{ page.title }} Image">
      {% include video-bg.html video_url=video_url %}
    </div>
  </div>
</div>
