.shop {
  h5 {
    color: var(--pink);
  }

  .btn-primary {
    background-color: var(--pink);
  }
}

.gallery {
  h5 {
    color: var(--blue);
  }

  .btn-primary {
    background-color: var(--blue);
  }
}

.food {
  h5 {
    color: var(--orange);
  }

  .btn-primary {
    background-color: var(--orange);
  }
}
