---
layout: default
---

{% assign image_path = page.image %}
{% assign transition-name = page.image | downcase | replace: '/', '-' | replace: '.', '-' %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <h5 style="view-transition-name: {{ page.title | downcase | replace: ' ', '-' }};">{{ page.title }}</h5>
  <article>
    {{ content }}
  </article>
  {% include weddings/article.html %}
  {% include weddings/site-plan.html %}
  {% include connect-us.html %}
  {% include weddings/brochure.html %}
</div>
