---
layout: default
---
{% assign desktop_image_path = page.image | prepend: '/cdn-cgi/image/width=1600,height=800,fit=cover,quality=85,gravity=center' | prepend: site.cdn_url %}
{% assign mobile_image_path = page.image | prepend: '/cdn-cgi/image/width=600,height=800,fit=cover,quality=85,gravity=center' | prepend: site.cdn_url %}

<figure class="hero" style="--desktop-image: url('{{ desktop_image_path }}'); --mobile-image: url('{{ mobile_image_path }}');" ></figure>

<div class="content-wrapper">
  <article>
    {{ content }}
  </article>
  {% include weddings/article.html %}
  {% include weddings/site-plan.html %}
  {% include connect-us.html %}
  {% include weddings/brochure.html %}
</div>
