---
layout: default
---

{% assign image_path = page.image %}
{% assign transition-name = page.image | downcase | replace: '/', '-' | replace: '.', '-' %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <hgroup>
    <h5 style="view-transition-name: {{ page.title | downcase | replace: ' ', '-' }};">{{ page.title }}</h5>
    <h2>{{ page.intro.subtitle }}</h2>
  </hgroup>
  <p>{{ page.intro.description }}</p>

  {% assign jump_nav_links = site.weddings | where_exp: "item", "item.slug != page.slug" | map: "slug" %}
  {% assign jump_nav_slugs = "weddings" %}
  {% assign jump_nav_base_url = '/weddings/'%}
  {% include page-jump-nav.html links=jump_nav_links slugs=jump_nav_slugs base_url=jump_nav_base_url %}

  <article>
    {% include weddings/sections.html %}
  </article>
  {% include weddings/site-plan.html page=page %}
  {% include weddings/article.html %}
  <div class="weddings-connect-brochure">
    {% include connect-us.html %}
    {% include weddings/brochure.html %}
  </div>
</div>
