---
permalink: /contacts/
layout: default
title: Contacts
layout_type: contacts
---

{% assign image_path = site.data.contacts.hero_banner %}
{% assign transition-name = "contacts" %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <hgroup style="view-transition-name: title-{{transition-name}};">
    <h5 title>{{ site.data.contacts.title }}</h5>
  </hgroup>

  {% for item in site.data.contacts.items %}
    <div>
      <h3>{{ item.title }}</h3>
      {% if item.title == "Phone" or item.title == "Fax" %}
        <p><a href="tel:{{ item.content | remove: ' ' | remove: '(' | remove: ')' | remove: '-' }}">{{ item.content }}</a></p>
      {% elsif item.title == "Email" %}
        <p><a href="mailto:{{ item.content }}">{{ item.content }}</a></p>
      {% else %}
        <p>{{ item.content }}</p>
      {% endif %}
      <hr>
    </div>
  {% endfor %}

  <h3>{{ site.data.contacts.follow_us }}</h3>
  <div>
    <a href="{{ site.data.contacts.facebook }}" target="_blank" rel="noopener noreferrer" class="social">
      {% include icons/socials/facebook.svg %}
    </a>
    <a href="{{ site.data.contacts.instagram }}" target="_blank" rel="noopener noreferrer" class="social">
      {% include icons/socials/instagram.svg %}
    </a>
  </div>
  <a href="/leasing" class="btn btn-primary">{{ site.data.contacts.buttons.leasing }}</a>
  <a href="/filming-photography" class="btn btn-primary">{{ site.data.contacts.buttons.filming }}</a>
  <a href="/weddings" class="btn btn-primary">{{ site.data.contacts.buttons.weddings }}</a>
</div>
