---
layout: page
title: "Family & Pet"
permalink: /family_and_pet
layout_type: family_and_pet
---

{% assign image_path = site.data.family_and_pet.hero_banner %}
{% assign transition-name = page.layout_type %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <h5 title="visit">Family &amp; Pet</h5>
  <h6>{{ site.data.family_and_pet.notes.intro }}</h6>

  {% assign jump_nav_links = "family,pets" | split: "," %}
  {% assign jump_nav_slugs = "family_and_pet" %}
  {% include page-jump-nav.html links=jump_nav_links slugs=jump_nav_slugs %}

  <div class="list-container">
    <div class="card" id="family">
      <figure>
        {% include responsive-card-image.html src=site.data.family_and_pet.family.image alt='Tlaquepaque village fountain courtyard' %}
      </figure>
      <h4>Family</h4>
      <p>{{ site.data.family_and_pet.family.description }}</p>
      <ul>
        {% for amenity in site.data.family_and_pet.family.amenities %}
          <li>{{ amenity }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="card" id="pets">
      <figure>
        {% include responsive-card-image.html src=site.data.family_and_pet.pets.image alt='Dog-friendly Tlaquepaque village' %}
      </figure>
      <h4>Pets</h4>
      <p>{{ site.data.family_and_pet.pets.description }}</p>
      <ul>
        {% for rule in site.data.family_and_pet.pets.rules %}
          <li>{{ rule }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
