---
permalink: /filming-photography/
layout: default
title: Filming & Photography
layout_type: filming-photography
---

{% assign image_path = site.data.filming-photography.hero_banner %}
{% assign transition-name = "filming-photography" %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <hgroup style="view-transition-name: title-{{transition-name}};">
    <h5 title>{{ site.data.filming-photography.title }}</h5>
    <h2>{{ site.data.filming-photography.subtitle }}</h2>
    <p>{{ site.data.filming-photography.intro }}</p>
  </hgroup>
  <hr>

  <section>
    <article>
      {% for p in site.data.filming-photography.left_column %}
        <p>{{ p }}</p>
      {% endfor %}
      <a href="mailto:{{ site.email }}" class="btn btn-primary">{{ site.data.filming-photography.buttons.request_a_permit }}</a>
    </article>

    <article>
      {% for section in site.data.filming-photography.sections %}
        <h3>{{ section.title }}</h3>
        <ul>
          {% for item in section.items %}<li>{{ item }}</li>{% endfor %}
        </ul>
      {% endfor %}
      <p>{{ site.data.filming-photography.wedding_exemption_note }}</p>
    </article>
  </section>
</div>
