---
permalink: /leasing/
layout: default
title: Leasing
layout_type: leasing
---

{% assign image_path = site.data.leasing.hero_banner %}
{% assign transition-name = "leasing" %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

{% assign description_parts = site.data.leasing.description | split: "<br><br>" %}

<article class="content-wrapper">
  <section>
    <hgroup style="view-transition-name: title-{{transition-name}};">
      <h5 title>{{ site.data.leasing.title }}</h5>
      <h2>{{ site.data.leasing.subtitle }}</h2>
    </hgroup>
    <p>{{ description_parts[0] }}</p>
  </section>

  <hr>

  <section class="leasing-intro">
    <p>{{ description_parts[1] }}</p>
    <a href="mailto:{{ site.email }}" class="btn btn-primary">{{ site.data.leasing.buttons.inquire_about_space }}</a>
    <p>{{ site.data.leasing.guidelines_intro }}</p>
    <hr>
  </section>

  <section class="leasing-sections">
    {% for section in site.data.leasing.sections %}
      <section>
        <h3>{{ section.title }}</h3>
        <ul>
          {% for item in section.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
        <hr>
      </section>
    {% endfor %}
  </section>
</article>
