---
layout: page
title: Locations
permalink: /locations
layout_type: locations
---

{% assign image_path = "assets/images/hours.webp" %}
{% assign transition-name = page.layout_type %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <h5 title="visit">Visit</h5>
  <h2>Find Tlaquepaque Arts & Crafts Village.</h2>
  <h6>Located in the heart of Sedona on the North and South sides of scenic Highway 179, Tlaquepaque's locations are easily accessible from all major Arizona destinations and airports.</h6>

  <div class="list-container">
    {% for location in site.data.hours.locations %}
      <div class="card">
        <figure>
          {% include responsive-card-image.html src=location.image alt='location.name' %}
        </figure>
        <h4>{{ location.name }}</h4>
        <a href="{{ location.maps_url }}" target="_blank" rel="noopener noreferrer">
          {{ location.address }}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="7" y1="17" x2="17" y2="7"/><polyline points="7 7 17 7 17 17"/></svg>
        </a>
      </div>
    {% endfor %}
  </div>

</div>
