---
layout: page
title: Magazines
permalink: /magazines
popup_key: magazines
---
<div class="magazines">
  <div class="content-wrapper">
    <h5 title="magazines">{{ site.data.magazines.eyebrow }}</h5>

    <div class="list-container">
      {% for magazine in site.data.magazines.issues %}
      <div class="card">
        {% if magazine.link != "" %}
        <a href="{{ magazine.link }}" target="_blank" rel="noopener">
          <img src="{{ magazine.image }}" alt="{{ magazine.title }}">
        </a>
        {% else %}
        <img src="{{ magazine.image }}" alt="{{ magazine.title }}">
        {% endif %}
        <h6>{{ magazine.title }}</h6>
      </div>
      {% endfor %}
    </div>
  </div>
</div>