---
layout: page
title: News
permalink: /news/
layout_type: news
popup_key: news
pagination:
  enabled: true
  collection: blogs
  per_page: 8
  sort_field: date
  sort_reverse: true
---

{% assign image_path = site.data.news.hero_banner %}
{% assign transition-name = "news" %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <hgroup style="view-transition-name: title-{{transition-name}};">
    <h5 title="news">{{ site.data.news.eyebrow }}</h5>
    <h2>{{ site.data.news.title }}</h2>
  </hgroup>

  <hr>

  <div class="list-container">
    {% for blog in paginator.posts %}
      {% include blog/card.html blog=blog %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
