---
layout: page
title: News
permalink: /news/
layout_type: news
pagination:
  enabled: true
  collection: blogs
  per_page: 8
  sort_field: date
  sort_reverse: true
---
<div class="content-wrapper">
  <h5 title="news">WHAT'S NEW</h5>

  <h2>New moments of discovery are always taking shape across Tlaquepaque village.</h2>

  <div class="list-container">
    {% for blog in paginator.posts %}
      {% include blog/card.html blog=blog %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
