---
layout: default
title: Wedding FAQ
permalink: /wedding_faq/
layout_type: wedding
---

{% assign image_path = site.data.wedding-faq.hero_banner %}
{% assign transition-name = "wedding-faq" %}
{% include hero-banner.html image_path=image_path transition-name=transition-name %}

<div class="content-wrapper">
  <hgroup>
    <h5>{{ site.data.wedding-faq.title }}</h5>
  </hgroup>

  <section class="wedding-faq-grid" aria-label="{{ site.data.wedding-faq.title }}">
    {% for block in site.data.wedding-faq.blocks %}
    <article class="wedding-faq-item">
      <h3>{{ block.title }}</h3>
      <h6>{{ block.content }}</h6>
    </article>
    {% endfor %}
  </section>
  <div class="weddings-connect-brochure">
    {% include connect-us.html %}
    {% include weddings/brochure.html %}
  </div>
</div>
