{% assign calendar = site.landing | where: "slug", "calendar" | first %}
<article id="{{ calendar.slug }}">
  <h5>
    {% include {{ calendar.icon }} %}
    {{ calendar.title }}
  </h5>
  <h2>{{ calendar.heading }}</h2>

  {% include calendar.html limit=4 %}

  <section class="footer">
    <h6>{{ calendar.description | escape }}</h6>
    {% if calendar.link %}
      <a href="{{ calendar.link.url }}" class="btn btn-primary">{{ calendar.link.text | escape }}</a>
    {% endif %}
  </section>
</article>
