{% assign filming = site.landing | where: "slug", "filming" | first %}
<article id="{{ filming.slug }}">
  <div class="grid-col-2">
    <div class="description">
      <h5>
        {% include {{ filming.icon }} %}
        {{ filming.title | escape }}
      </h5>
      <h2>{{ filming.heading | escape }}</h2>
      <section class="footer">
        <p>{{ filming.description | escape }}</p>
        <a href="{{ filming.link.url }}" class="btn btn-primary">{{ filming.link.text | escape }}</a>
      </section>
    </div>
    <img src="{{ filming.image | relative_url }}" alt="{{ filming.alt }}" loading="lazy" width="800" height="600" onerror="imageError(this)">
  </div>
</article>
