{% assign filming = site.landing | where: "slug", "filming" | first %}
<article id="{{ filming.slug }}">
  <h5>
    {% include {{ filming.icon }} %}
    {{ filming.title | escape }}
  </h5>
  <h2>{{ filming.heading | escape }}</h2>
  {% assign filming_image_cdn = filming.image | prepend: '/cdn-cgi/image/width=800,height=600,fit=cover,quality=85,gravity=center,format=webp/' | prepend: site.cdn_url %}
  <img src="{{ filming_image_cdn }}" alt="{{ filming.alt }}" loading="lazy" width="800" height="600" onerror="imageError(this)">
  <section class="footer">
    <p>{{ filming.description | escape }}</p>
    <a href="{{ filming.link.url }}" class="btn btn-primary">{{ filming.link.text | escape }}</a>
  </section>
</article>
