{% assign magazine = site.landing | where: "slug", "magazine" | first %}
<article id="{{ magazine.slug }}">
  <h5>
    {% include {{ magazine.icon }} %}
    {{ magazine.title }}
  </h5>
  <h2>{{ magazine.heading }}</h2>
  <figure>
    <img src="{{ magazine.image | relative_url }}" alt="{{ magazine.alt }}" loading="lazy" width="900" height="600">
  </figure>
  <section class="footer">
    <h6>{{ magazine.description | escape }}</h6>
    <div role="group" aria-label="Magazine actions">
      <dialog id="magazinePreview" onclick="this.close()">
        <iframe src="https://player.flipsnack.com?hash=Qzg3QkNEOTlFOEMrdjdoaTF1Y3J6cA" width="100%" height="100%" scrolling="no" frameBorder="O" allowFullScreen allow="autoplay; clipboard-read; clipboard-write"></iframe>
      </dialog>
      <button command="show-modal" commandfor="magazinePreview" class="btn btn-primary" aria-label="{{ magazine.links[0].text }}">{{ magazine.links[0].text }}</button>
      <a href="{{ magazine.links[1].url }}" class="btn btn-primary">{{ magazine.links[1].text }}</a>
    </div>
  </section>
</article>
