{% assign weddings = site.landing | where: "slug", "weddings" | first %}
<article id="{{ weddings.slug }}">
  <h5>
    {% include {{ weddings.icon }} %}
    {{ weddings.title | escape }}
  </h5>
  <h2>{{ weddings.heading }}</h2>
  <section class="weddings-gallery">
    {% for wedding_image in weddings.images %}
      {% capture cdn_prefix %}/cdn-cgi/image/width={{ wedding_image.width }},height={{ wedding_image.height }},fit=cover,quality=85,gravity=center,format=webp/{% endcapture %}
      {% assign wedding_image_cdn = wedding_image.image | prepend: cdn_prefix | prepend: site.cdn_url %}
      {% if forloop.first %}
        <img src="{{ wedding_image_cdn }}" alt="{{ wedding_image.alt }}" loading="lazy" width="{{ wedding_image.width }}" height="{{ wedding_image.height }}" onerror="imageError(this)">
        <div class="weddings-gallery-stack">
      {% else %}
        <img src="{{ wedding_image_cdn }}" alt="{{ wedding_image.alt }}" loading="lazy" width="{{ wedding_image.width }}" height="{{ wedding_image.height }}" onerror="imageError(this)">
      {% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
  </section>
  <section class="footer">
    <p>{{ weddings.description | escape }}</p>
    <a href="{{ weddings.link.url }}" class="btn btn-primary">{{ weddings.link.text }}</a>
  </section>
</article>
