{% assign whats_new = site.landing | where: "slug", "whats-new" | first %}
{% assign latest_posts = site.blogs | sort: "date" | reverse %}
<article id="{{ whats_new.slug }}">
  <h5>
    {% include {{ whats_new.icon }} %}
    {{ whats_new.title }}
  </h5>
  <h2>{{ whats_new.heading }}</h2>
  {% for post in latest_posts limit: 2 %}
  <section>
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" loading="lazy" width="592" height="385" onerror="imageError(this)">
    </a>
    <h3>{{ post.title }}</h3>
    <p>{{ post.description }}</p>
  </section>
  {% endfor %}
  <section class="footer">
    <a href="{{ whats_new.link.url }}" class="btn btn-primary">{{ whats_new.link.text }}</a>
  </section>
</article>
