<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body onpageshow="window.mobile?.hidePopover()">
    {% include header.html %}
    <main class="{{ page.layout_type }}">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/search.js' | relative_url }}" defer></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}?v={{ site.time | date: "%s" }}');
      }
    </script>
  </body>
</html>
