---
layout: default
---
{% assign banner = site.landing | where: "section", "banner" | first %}
{% assign img_path = '/assets/images/' | append: banner.image | append: '.webp' %}
{% assign desktop_image_path = img_path | prepend:
'/cdn-cgi/image/width=1600,height=800,fit=cover,quality=85,gravity=center/' | prepend: site.cdn_url %}
{% assign mobile_image_path = img_path | prepend:
'/cdn-cgi/image/width=600,height=800,fit=cover,quality=85,gravity=center/' | prepend: site.cdn_url %}

{% assign video_url = site.cdn_url | append: '/assets/video/tlaq.mp4' %}
<link rel="prefetch" href="{{ video_url }}" as="video" type="video/mp4">

<section id="landing-banner">
  <img class="banner-bg" src="{{ desktop_image_path }}" fetchpriority="high" decoding="async" alt=""
    srcset="{{ mobile_image_path }} 600w, {{ desktop_image_path }} 1600w"
    sizes="(max-width: 770px) 600px, 1600px">
  <video class="videobgframe" autoplay loop muted playsinline id="videoBg"
    oncanplaythrough="setTimeout(() => { this.classList.add('loaded'); }, 1610)">
    <source src="{{ video_url }}" type="video/mp4">
  </video>
  <h1>{{ banner.heading }}</h1>
  <a href="{{ banner.button.url }}" class="btn">{{ banner.button.text }}</a>
</section>

<nav id="landing-nav" aria-label="{{ page.nav.label }}">
  {% for item in page.nav.items %}
  {% assign image = '/assets/images/' | append: item.image | prepend:
  '/cdn-cgi/image/width=320,height=160,fit=cover,format=webp,gravity=center/' | prepend: site.cdn_url %}
  <a href="{{ item.url }}" class="{{ item.type }}-link" style="--transition-name: {{ item.type }};">
    <img src="{{ image }}" alt="" loading="lazy" fetchpriority="low" width="320" height="160">
    <div style="--transition-name: title-{{item.type}};">
      <h5>{{ item.title }}</h5>
      <p>{{ item.description }}</p>
    </div>
  </a>
  {% endfor %}
</nav>

<div class="content-wrapper">
  {% comment %} Render article sections in their defined order {% endcomment %}
  {% assign article_sections = site.landing | where: "section", "articles" | sort: "order" %}
  {% for section in article_sections %}
  {% assign template = "landing/" | append: section.slug | append: ".html" %}
  {% include {{ template }} %}
  {% endfor %}
</div>

{% comment %} Render the footer section {% endcomment %}
{% assign footer = site.landing | where: "section", "footer" | first %}
{% assign template = "landing/" | append: footer.slug | append: ".html" %}
{% include {{ template }} %}