---
layout: default
---
{% assign banner = site.landing | where: "section", "banner" | first %}
{% assign img_path = '/assets/images/' | append: banner.image | append: '.webp' %}
{% assign desktop_image_path = img_path | prepend: '/cdn-cgi/image/width=1600,height=800,fit=cover,quality=85,gravity=center/' | prepend: site.cdn_url %}
{% assign mobile_image_path = img_path | prepend: '/cdn-cgi/image/width=600,height=800,fit=cover,quality=85,gravity=center/' | prepend: site.cdn_url %}

<section id="landing-banner" style="
  --desktop-image: url('{{ desktop_image_path }}');
  --mobile-image: url('{{ mobile_image_path }}');
">
  <iframe class="videobgframe" frameborder="0" seamless webkitallowfullscreen mozallowfullscreen allowfullscreen
    src="https://player.vimeo.com/video/219571013?background=1&amp;api=1&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;muted=1&amp;player_id=video-bg"
    id="videoBg" onload="setTimeout(() => { this.classList.add('loaded'); }, 1610)"></iframe>
  <h1>{{ banner.heading }}</h1>
  <a href="{{ banner.button.url }}" class="btn">{{ banner.button.text }}</a>
</section>

<nav id="landing-nav" aria-label="{{ page.nav.label }}">
  {% for item in page.nav.items %}
  {% assign image = '/assets/images/' | append: item.image | prepend:
  '/cdn-cgi/image/width=320,height=160,fit=cover,format=webp,gravity=center/' | prepend: site.cdn_url %}
  <a href="{{ item.url }}" class="{{ item.type }}">
    <img src="{{ image }}" alt="" loading="lazy" fetchpriority="low" width="320" height="160"
      style="--transition-name: {{ item.type }};">
    <h5>{{ item.title }}</h5>
    <p>{{ item.description }}</p>
  </a>
  {% endfor %}
</nav>

<div class="content-wrapper">
  {% comment %} Render article sections in their defined order {% endcomment %}
  {% assign article_sections = site.landing | where: "section", "articles" | sort: "order" %}
  {% for section in article_sections %}
  {% assign template = "landing/" | append: section.slug | append: ".html" %}
  {% include {{ template }} %}
  {% endfor %}
</div>

{% comment %} Render the footer section {% endcomment %}
{% assign footer = site.landing | where: "section", "footer" | first %}
{% assign template = "landing/" | append: footer.slug | append: ".html" %}
{% include {{ template }} %}
