---
layout: default
---
{% assign banner = site.landing | where: "section", "banner" | first %}
<section id="landing-banner">
  {% assign img = banner.image %}
  <img src="{{ '/assets/images/' | append: img | append: '-960.webp' | relative_url }}" srcset="{{ '/assets/images/' | append: img | append: '-480.webp' | relative_url }} 480w,
              {{ '/assets/images/' | append: img | append: '-960.webp' | relative_url }} 960w,
              {{ '/assets/images/' | append: img | append: '-1440.webp' | relative_url }} 1440w" sizes="100vw"
    alt="{{ banner.heading }}" width="1440" height="1020" fetchpriority="high">
  <h1>{{ banner.heading }}</h1>
  <a href="{{ banner.button.url }}" class="btn">{{ banner.button.text }}</a>
</section>

<nav id="landing-nav" aria-label="{{ page.nav.label }}">
  {% for item in page.nav.items %}
    {% assign image = '/assets/images/' | append: item.image | prepend: '/cdn-cgi/image/width=240,height=174,fit=cover,format=webp/' | prepend: site.cdn_url %}
    <a href="{{ item.url }}" class="{{ item.type }}" data-link="transition">
      <img src="{{ image }}" alt="" loading="lazy" fetchpriority="low" width="240"
        height="174">
      <h5>{{ item.title }}</h5>
      <p>{{ item.description }}</p>
    </a>
  {% endfor %}
</nav>

<div class="content-wrapper">
  {% comment %} Render article sections in their defined order {% endcomment %}
  {% assign article_sections = site.landing | where: "section", "articles" | sort: "order" %}
  {% for section in article_sections %}
    {% assign template = "landing/" | append: section.slug | append: ".html" %}
    {% include {{ template }} %}
  {% endfor %}
</div>

{% comment %} Render the footer section {% endcomment %}
{% assign footer = site.landing | where: "section", "footer" | first %}
{% assign template = "landing/" | append: footer.slug | append: ".html" %}
{% include {{ template }} %}

<script src="{{ '/assets/js/init-transition-view.js' | relative_url }}"></script>
